<!-- <h2 mat-dialog-title>Install Angular</h2> -->
<mat-dialog-content class="mat-typography">
    ERROR:
</mat-dialog-content>

<!-- <h1 mat-dialog-title>Favorite Animal</h1> -->
<h1 mat-dialog-title>{{ datos.animal }}</h1>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

<div mat-dialog-content>
    <!-- {{ datos.animal }} -->
    <!-- My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul> -->
</div>