<app-menu></app-menu>

<div class="titulo">
  <h2>Login Form: user: 11111 | clave: 11111111</h2>
</div>  
<div class="errores">
  <!-- <h2>{{ mensajeKawai }}</h2>
  <h2>{{ mensajeBaka }}</h2> -->
  <p-messages class="mensages_error_primeNg" [(value)]="msgs2" [enableService]="false"></p-messages>
</div>

<form (ngSubmit)="login()">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="openDialog1()">MAT BUTTON</button> -->

<!-- BOTON MOSTRAR MENSAJES DE ERROR DE PRIMENG -->
<!-- <button (click)="addMessages()">MENSAJES PRIMENG</button> -->

<!-- MENSAJES DE ERROR DE PRIMENG -->
<!-- <p-messages [(value)]="msgs2" [enableService]="false"></p-messages> -->

<!-- BOTONES DE PRIMENG -->
<!-- <h5>Dynamic</h5>
<button type="button" pButton pRipple (click)="addMessages()" label="Show" class="p-mr-2"></button>
<button type="button" pButton pRipple icon="pi pi-times" label="Clear" class="p-button-secondary"></button> -->

<!-- BOTONES DE PRIMENG -->
<!-- <h5>Message Service</h5>
<button type="button" pButton (click)="showViaService()" label="Via Service"></button>
<p-messages></p-messages> -->

<!-- <h5>Inline Message</h5>
<p>p-message component is used to display inline messages mostly within forms.</p>
<p-message severity="info" text="Message Content" styleClass="p-mr-2"></p-message>
<p-message severity="success" text="Message Content" styleClass="p-mr-2"></p-message>  
<p-message severity="warn" text="Message Content" styleClass="p-mr-2"></p-message>  
<p-message severity="error" text="Message Content"></p-message> -->