<app-menu></app-menu>

<div class="titulo">
  <h2>Login Form: ADMIN: FEFI | clave: 78478778</h2>
</div>
<div class="titulo">
  <h2>Login Form: EMPLEADO: YANIRA | clave: 78489359</h2>
</div>

<!-- <form [formGroup]="formu" (ngSubmit)="login()"> -->
<form [formGroup]="formu">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input class="error" type="text" placeholder="Usuario" formControlName="username" name="uname" required>
    <div class="usernameError" 
    *ngIf="usernameError.invalid && formSubmited">* El campo no puede estar vacío</div>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Contraseña" formControlName="password" name="psw" required>
    <div class="passwordError" 
    *ngIf="passwordError.invalid && formSubmited">* El campo no puede estar vacío</div>

    <button *ngIf="a == 'a'" (click)="onSubmit()" type="submit">Login</button>
   <!--  <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

 <!--  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>

<div class="errores">
  <p-messages class="mensages_error_primeNg" [(value)]="msgs2" [enableService]="false"></p-messages>
</div>
<div class="errores">
  <p-messages class="mensages_error_primeNg_1300" [(value)]="msgs2" [enableService]="false"></p-messages>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="openDialog1()">MAT BUTTON</button> -->